.search {
  width: 90%;
  margin: 15px auto {
    left: 5%;
  }

  &__label {
    position: relative;
    z-index: 1;
  }

  &__span {
    display: inline-block;
    width: 150px;
  }

  &__input {
    margin-left: 10px;
    width: calc(100% - 160px);
    border-radius: 5px;
    padding-left: 10px;

    &:active,
    &:active:focus {
      outline: 1px  solid $header-color {
        offset: 1px;
        width: 1px;
      };
    }
  }

  &__items {
    position: absolute;
    width: calc(100% - 162px);
    background: #ffffff;
    border: 1px solid lightgrey {
      top: none;
    };
    left: 160px;
    top: 23px;

    .search__list {
      margin:0;
      padding: 10px;
      list-style-type: none;

      .search__item:hover {
        background: $choisen-item-color;
        cursor: default;
      }
    }
  }
}

/* Extra small devices, 600px and down) */
@media only screen and (max-width: 600px) {
  .search {
    &__input {
      width: 100%;
      margin-left: 0;
    }
  }
} 