.todo__tasks {
  width: 90%;
  margin: 20px auto;
  margin-top: 0;
  border: 1px solid $border-color;
  border-radius: 10px;
  box-shadow: 0 0 10px 5px $border-color;

  .modal-button {
    text-align: center;
    margin: 20px;

    .modal-button__button {
      margin: 0 auto;
    }
  }

  .todo__header2 {
    text-align: center;
  }

  &__list {
    .todo__tasks__item {
      position: relative;
      width: calc(100% - 150px);
      margin: 10px 20px 10px 0;
      padding: 5px;
      padding-right: 100px;
      cursor: grab;
      box-shadow: 0 2px 4px rgba(0, 0, 0, .2);

      &:active {
        cursor: grabbing;
      }

      .todo__tasks__button {
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 10px;
        margin: 0 10px;
        bottom: 3px;
        outline: none;
        opacity: .8;

        $positions: red, green, yellow;

        @for $number from 1 through 3 {
          &:nth-child(#{$number + 1}) {
            background-color: nth($positions, $number);
            right: 30px * ($number - 1);
          }
        }

        &:hover {
          box-shadow: grey;
          opacity: 1;
          outline: none;
        }

        &:active {
          box-shadow: 0 3px 3px #575555 inset; 
          opacity: 1;
          outline: none;
        }

        svg {
          position: absolute;
          left: 3px;
          top: 3px;
        }
      }
    }
  }
}


/* Extra small devices, 600px and down) */
@media only screen and (max-width: 600px) {
  .todo__tasks {
    &__list {
      .todo__tasks__item {
        width: calc(100% - 55px);
        padding-right: 5px;
        padding-bottom: 25px;
      }
    }
  }
} 