$border-color: #dddddd;
$header-color: #afeeee;
$white: #ffffff;
$choisen-cell-color: #EFEFEF;
$choisen-item-color: #EFEFEF;

@import 'calendar', 'modal-add-task', 'weather', 'juventus', 
'juventus-modal', 'search-task', 'tasks', 'preloader';

%modal-windows {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  padding: 10px;
  border: 1px solid #000000 {
    radius: 10px;
  };
  background: #ffffff;
}

%modal-windows-button-exit {
  position: absolute;
  right: 20px;
  top: 20px;
}

body {
  margin: 0;
  padding: 0;
  background-image: url('../images/natures-temples.jpg');
}

#root {
  position: relative;
  opacity: 0.9;
  background: $white;
  border: {
    top: 1px solid $white;
    bottom: 1px solid $white;
  }
  min: {
    height: calc(100vh - 2px);
    width: 320px;
  }
}

.todo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  max-width: 1280px;
}

.todo__header1 {
  width: 90%;
  max-width: 1280px;
  margin: 10px auto;
  box-shadow: 0 6px 4px -4px $border-color;
  text-align: center;
}

/* Extra small devices, 600px and down) */
@media only screen and (max-width: 600px) {
  .todo__header1 {
    font-size: 26px;
  }
} 