.modal__cover {
  width: 100%;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 1;
  max-height: 100vh;
  z-index: 2;

  .modal {
    border: 1px solid #000000;
    padding: 10px;
    position: fixed;
    width: 50%;
    height: 50%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: #ffffff;
    z-index: 1;

    .modal__header {
      text-align: center;
    }

    .modal__textarea_label {
      .modal__textarea {
        width: calc(100% - 6px);
        min-width: calc(100% - 6px);
        height: calc(50% - 6px);
        min-height: calc(50% - 6px);
      }
    }

    .modal__button_enter {
      width: 100%;
      text-align: center;
    }

    .modal__button_exit {
      position: absolute;
      right: 20px;
      top: 20px;
    }
  }
}